<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/car_description.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Descripción del vehículo</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="loadingio-spinner-pulse-ppvwk7jxn1n"><div class="ldio-oopwu61y6s7"><div></div><div></div><div></div></div></div>
    </div>

    <header class="header">
        <nav class="nav" id="nav">
            <div class="content__nav">
                <div class="logo">
                    <img src="../images/logo.png" alt="Logo">
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <section class="carousel">
            <div class="carousel__slide fade">
                <img src="../images/auto_3.jpg" alt="">
            </div>
            <div class="carousel__slide fade">
                <img src="../images/auto_3.jpg" alt="">
            </div>
            <div class="carousel__slide fade">
                <img src="../images/auto_3.jpg" alt="">
            </div>
            <div class="direcciones">
                <a href="#" class="atras" onclick="nextSlide(-1)">&#10094;</a>
                <a href="#" class="adelante" onclick="nextSlide(1)">&#10095;</a>
            </div>
            <div class="barras">
                <span class="barra active" onclick="positionSlide(1)"></span>
                <span class="barra" onclick="positionSlide(2)"></span>
                <span class="barra" onclick="positionSlide(3)"></span>
            </div>
        </section>
    
        <section id="description" class="car__description">
            <h2>DESCRIPCIÓN DEL VEHÍCULO</h2>
            <div class="box">
                <div class="car__description-content">
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Categoria: </h3>
                            <p>N2</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Marca: </h3>
                            <p>ISUZU</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Modelo:</h3>
                            <p>NPR75L-KL5VAYNPEN</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Color: </h3>
                            <p>Blanco Celeste</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Motor: </h3>
                            <p>4MK1475821</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Combustible: </h3>
                            <p>Diesel</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Forma Rodante: </h3>
                            <p>4x2</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>VAN:</h3>
                            <p>JAANPR75KG7100711</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Serie:</h3>
                            <p>JAANPR75KG7100711</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Año Fabricación:</h3>
                            <p>2016</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Año Modelo:</h3>
                            <p>2016</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Versión:</h3>
                            <p>5TON</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Ejes:</h3>
                            <p>2</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Asientos:</h3>
                            <p>3</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Pasajeros:</h3>
                            <p>2</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Ruedas:</h3>
                            <p>6</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Carroceria:</h3>
                            <p>Baranda</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Potencia:</h3>
                            <p>110@2600</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Cilindros:</h3>
                            <p>4</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Cilindrada:</h3>
                            <p>5 153 cc.</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Peso Bruto:</h3>
                            <p>8 toneladas</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Peso Neto:</h3>
                            <p>5.505 toneladas</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Carga Util:</h3>
                            <p>4.495 toneladas</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Longitud:</h3>
                            <p>7.13 metros</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Altura:</h3>
                            <p>2.62 metros</p>
                        </div>
                    </div>
                    <div class="data">
                        <div class="data__text">
                            <img src="../images/checked.png" alt="">
                            <h3>Ancho:</h3>
                            <p>2.30 metros</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="content__footer">
            <div class="footer__logo">
                <img src="../images/logo_footer.png" alt="">
            </div>
            <div class="footer__texts">
                <p>Av. Mariscal Cáceres N° 329 - Concepción - Junín - Perú </p>
                <p>(064)581017 - mpc@municoncepcion.gob.pe</p>
            </div>
        </div>
    </footer>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/slide.js"></script>
</body>
</html>